.container-2
            .row
                .col-sm
                    img(src='../Images/cake.jpg')
                .col-sm
                    img(src='../Images/pic1.jpg')
                .col-sm
                    img(src='../Images/pic2.jpg')
            .row
                .col-sm
                    img(src='../Images/pic3.jpg')
                .col-sm
                    img(src='../Images/pic4.jpg')
                .col-sm
                    img(src='../Images/pic5.jpg')
            .row
                .col-sm
                    img(src='../Images/pic6.jpg')
                .col-sm
                    img(src='../Images/pic8.jpg')
                .col-sm
                    img(src='../Images/pic9.jpg')