<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=2.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="../scss/style.scss")
        script(src="../js/main.js")
        link(href='https://fonts.googleapis.com/css?family=Heebo' rel='stylesheet')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
    body
        .signup
            .text
                i.fab.fa-pinterest
                br
                br
                br
                h1 Welcome to Pinterest
                h3 Find new ideas to try
                form.form-group
                    input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Email')
                form.form-group
                    input#exampleInputPassword1.form-control(type='password' placeholder='Create a password')
                form.form-group
                    input#exampleInputPassword1.form-control(type='age' placeholder='Age')
                br
                button.red.btn.btn-primary(type='submit') Continue 
                p or
                button.darkBlue.btn.btn-primary(type='submit') Continue with Facebook
                br
                button.lightBlue.btn.btn-primary(type='submit') Continue with Google
                br
                br
                p By continuing, you agree to Pinterest's Terms of Service, Privacy Policy
                br
                a(href="#") Already a member? Log in
                br                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                button.gray.btn.btn-primary(href="#" type='submit') Create a business account
        button.btn.btn-secondary.btn-lg(type='button') Log in
        .container.background
            .row
                .col-sm-6.col-md-6.col-lg-4
                    img(src='../Images/cake.jpg')
                    img(src='../Images/pic3.jpg')
                    img(src='../Images/pic8.jpg')
                .col-sm-6.col-md-6.col-lg-4
                    img(src='../Images/pic6.jpg') 
                    img(src='../Images/pic9.jpg')
                    img(src='../Images/pic7.jpg')
                .col-lg-4
                    img(src='../Images/pic2.jpg')
                    img(src='../Images/pic5.jpg')  
                    img(src='../Images/pic1.jpg')
        

    