@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .background {
        position:relative;
        z-index:0;
    }
            img {
                height: auto;
                width:95%;
                margin:20px 0px;
                border-radius: 16px;
            }
    .signup {
        position: absolute;
        z-index:1;
        background-color:white;
        border-radius: 8px;
        background-color:white;
        height: auto;
        width:500px;
    }
        .text {
            padding: 30px;
            //  height:80%;
        }
            i {
                color: red;
                font-size:70px;
                position: absolute;
                z-index:3;

            }
            h1{
                color: rgb(63, 61, 61);
                margin-bottom:0px;
                margin-top: 0;
                font-size: 60px;
            }
            h3 {
                color: rgb(63, 61, 61);
                margin-top: 5px;
                padding-top: 0px;
                font-size: 15px;
            }
            p {
                font-size: 10px;
                width: 70%;
                margin: 0 auto;
            }
                .red {
                    color: white;
                    background-color: hsl(0, 77%, 54%);
                    border-radius:4px;
                    width:100%;
                    height: auto;
                    margin-bottom: 10px;
                }
                .darkBlue {
                    color: white;
                    background-color: #44449d;
                    border-radius:4px;
                    width:100%;
                    height: auto;
                    margin-bottom: 10px;
                }
                .lightBlue {
                    color: white;
                    background-color: #387eda;
                    border-radius:4px;
                    width:100%;
                    height: auto;
                }
                .gray {
                    color:dimgray;
                    background-color: lightgray;
                    width:100%;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    margin-bottom: 0;
                }
            input {
                width: 70%;
                height: 30px;
                border-radius: 4px;
            }
        button {
            // z-index:1;
            display:flex;
            justify-content: left;
        }